<div class="row">

    <div id="sidebar" class="col-md-3">
        <div class="list-group">
            <a href="/curso_actual/horario" class="list-group-item list-group-item-action active">Horario</a>
            <a href="/curso_actual/examenes" class="list-group-item list-group-item-action">Exámenes</a>
        </div>
    </div>

    <div id="content" class="col-md-9">
        <table class="table table-bordered table-sm">
            <thead class="thead-light">
                <tr>
                    <th scope="col">Hora</th>
                    <th scope="col">Lunes</th>
                    <th scope="col">Martes</th>
                    <th scope="col">Miércoles</th>
                    <th scope="col">Jueves</th>
                    <th scope="col">Viernes</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">8-9</th>
                    <td>IACR</td>
                    <td>COTE</td>
                    <td>CORE</td>
                    <td>ISST</td>
                    <td>DORE</td>
                </tr>
                <tr>
                    <th scope="row">9-10</th>
                    <td>IACR</td>
                    <td>COTE</td>
                    <td>CORE</td>
                    <td>ISST</td>
                    <td>DORE</td>
                </tr>
                <tr>
                    <th scope="row">10-11</th>
                    <td>IACR</td>
                    <td>COTE</td>
                    <td>CORE</td>
                    <td>ISST</td>
                    <td>DORE</td>
                </tr>
                <tr>
                    <th scope="row">11-12</th>
                    <td>IACR</td>
                    <td>COTE</td>
                    <td>CORE</td>
                    <td>ISST</td>
                    <td>DORE</td>
                </tr>
                <tr>
                    <th scope="row">12-13</th>
                    <td>IACR</td>
                    <td>COTE</td>
                    <td>CORE</td>
                    <td>ISST</td>
                    <td>DORE</td>
                </tr>
                <tr>
                    <th scope="row">13-14</th>
                    <td>IACR</td>
                    <td>COTE</td>
                    <td>CORE</td>
                    <td>ISST</td>
                    <td>DORE</td>
                </tr>
                <tr>
                    <th scope="row">14-15</th>
                    <td>IACR</td>
                    <td>COTE</td>
                    <td>CORE</td>
                    <td>ISST</td>
                    <td>DORE</td>
                </tr>
                <tr>
                    <th scope="row">15-16</th>
                    <td>IACR</td>
                    <td>COTE</td>
                    <td>CORE</td>
                    <td>ISST</td>
                    <td>DORE</td>
                </tr>
                <tr>
                    <th scope="row">16-17</th>
                    <td>IACR</td>
                    <td>COTE</td>
                    <td>CORE</td>
                    <td>ISST</td>
                    <td>DORE</td>
                </tr>
                <tr>
                    <th scope="row">17-18</th>
                    <td>IACR</td>
                    <td>COTE</td>
                    <td>CORE</td>
                    <td>ISST</td>
                    <td>DORE</td>
                </tr>
                <tr>
                    <th scope="row">18-19</th>
                    <td>IACR</td>
                    <td>COTE</td>
                    <td>CORE</td>
                    <td>ISST</td>
                    <td>DORE</td>
                </tr>
                <tr>
                    <th scope="row">19-20</th>
                    <td>IACR</td>
                    <td>COTE</td>
                    <td>CORE</td>
                    <td>ISST</td>
                    <td>DORE</td>
                </tr>
                <tr>
                    <th scope="row">20-21</th>
                    <td>IACR</td>
                    <td>COTE</td>
                    <td>CORE</td>
                    <td>ISST</td>
                    <td>DORE</td>
                </tr>
            </tbody>
        </table>
    </div>

</div>