<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>HorarioApp</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <header>
        <h1>HorarioApp</h1>
        <nav>
            <a href="/">Curso actual</a>
            <a href="/prueba1">Planificador</a>
            <a href="/prueba2">Otro</a>
            <a href="/logout">Logout</a>
        </nav>
    </header>
    <main>
        <%- body %>
    </main>
    <footer>
        <p>&copy; 2019 Universidad Politécnica de Madrid</p>
    </footer>
</body>

</html>