<div class="row">

    <div id="sidebar" class="col-md-3">

        <div id="saved_list">
            <h4>Horarios guardados</h4>
            <table class="table table-hover">
                <tbody>
                    <tr class="table-primary">
                        <td>1</td>
                        <td>2º: 22.1, 3º:32.1</td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>2º: 22.1, 3º:32.1</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div id="details">
            <h4>Detalles</h4>
            <ul>
                <li>Cursos: 3º, 4º</li>
                <li>
                    Nº de asignaturas:
                    <ul>
                        <li>1er semestre: 6</li>
                        <li>2º semestre: 4</li>
                    </ul>
                </li>
                <li>
                    Horas de clase:
                    <ul>
                        <li>1er semestre: 20h/semana</li>
                        <li>2º semestre: 16h/semana</li>
                    </ul>
                </li>
                <li>Total créditos ECTS: 55</li>
            </ul>
        </div>

    </div>

    <div id="content" class="col-md-9">

        <div id="timetable">
            <table class="table table-bordered table-sm">
                <thead class="thead-light">
                    <tr>
                        <th scope="col">Hora</th>
                        <th scope="col">Lunes</th>
                        <th scope="col">Martes</th>
                        <th scope="col">Miércoles</th>
                        <th scope="col">Jueves</th>
                        <th scope="col">Viernes</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">8-9</th>
                        <td>IACR</td>
                        <td>COTE</td>
                        <td>CORE</td>
                        <td>ISST</td>
                        <td>DORE</td>
                    </tr>
                    <tr>
                        <th scope="row">9-10</th>
                        <td>IACR</td>
                        <td>COTE</td>
                        <td>CORE</td>
                        <td>ISST</td>
                        <td>DORE</td>
                    </tr>
                    <tr>
                        <th scope="row">10-11</th>
                        <td>IACR</td>
                        <td>COTE</td>
                        <td>CORE</td>
                        <td>ISST</td>
                        <td>DORE</td>
                    </tr>
                    <tr>
                        <th scope="row">11-12</th>
                        <td>IACR</td>
                        <td>COTE</td>
                        <td>CORE</td>
                        <td>ISST</td>
                        <td>DORE</td>
                    </tr>
                    <tr>
                        <th scope="row">12-13</th>
                        <td>IACR</td>
                        <td>COTE</td>
                        <td>CORE</td>
                        <td>ISST</td>
                        <td>DORE</td>
                    </tr>
                    <tr>
                        <th scope="row">13-14</th>
                        <td>IACR</td>
                        <td>COTE</td>
                        <td>CORE</td>
                        <td>ISST</td>
                        <td>DORE</td>
                    </tr>
                    <tr>
                        <th scope="row">14-15</th>
                        <td>IACR</td>
                        <td>COTE</td>
                        <td>CORE</td>
                        <td>ISST</td>
                        <td>DORE</td>
                    </tr>
                    <tr>
                        <th scope="row">15-16</th>
                        <td>IACR</td>
                        <td>COTE</td>
                        <td>CORE</td>
                        <td>ISST</td>
                        <td>DORE</td>
                    </tr>
                    <tr>
                        <th scope="row">16-17</th>
                        <td>IACR</td>
                        <td>COTE</td>
                        <td>CORE</td>
                        <td>ISST</td>
                        <td>DORE</td>
                    </tr>
                    <tr>
                        <th scope="row">17-18</th>
                        <td>IACR</td>
                        <td>COTE</td>
                        <td>CORE</td>
                        <td>ISST</td>
                        <td>DORE</td>
                    </tr>
                    <tr>
                        <th scope="row">18-19</th>
                        <td>IACR</td>
                        <td>COTE</td>
                        <td>CORE</td>
                        <td>ISST</td>
                        <td>DORE</td>
                    </tr>
                    <tr>
                        <th scope="row">19-20</th>
                        <td>IACR</td>
                        <td>COTE</td>
                        <td>CORE</td>
                        <td>ISST</td>
                        <td>DORE</td>
                    </tr>
                    <tr>
                        <th scope="row">20-21</th>
                        <td>IACR</td>
                        <td>COTE</td>
                        <td>CORE</td>
                        <td>ISST</td>
                        <td>DORE</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div id="botones">
            <button class="btn btn-danger" type="delete"> Borrar horario</button>
            <a class="btn btn-primary" href="/planificador" role="button">Editar horario</a>
        </div>

    </div>

</div>